<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="M4BAudioBook" value="yes" />
    <add key="SplitbyChapters" value="yes" />
    <add key="ExtractCoverArt" value="yes" />
    <add key="AutoName" value="yes" />
    <add key="CoverArtName" value="folder.jpg" />
    <add key="CreateDir" value="yes" />
    <add key="ActivationBytes" value="XXXXXXXX" /> <!-- Replace with own Activation Bytes -->
  </appSettings>
</configuration>
